In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Client Data.xlsx')

In [3]:
df.head(12)

,First Name,Last Name,Company,Email(default),Email(Personal),Email(Work),Phone(default),Phone(Work),Phone(Home),Phone(Mobile),Phone(Main),Phone(Other),Country,Zip Code
0,John,Smith,ABC Corp,john.smith@email.com,NaN,NaN,123-456-7890,NaN,NaN,NaN,NaN,NaN,US,12345
1,Mary,Johnson,XYZ Ltd,NaN,mary.johnson@email.com,NaN,NaN,NaN,NaN,987-654-3210,NaN,NaN,US,M5A1A1
2,David,Williams,Tech Innov,NaN,david.williams.personal@email.com,NaN,NaN,678-901-2345,NaN,NaN,NaN,NaN,UK,SW1A2AA
3,Sarah,Miller,Global Corp,sarah.miller@email.com,NaN,NaN,NaN,NaN,NaN,NaN,678-901-2345,NaN,US,2000
4,Michael,Davis,Innovative,NaN,NaN,michael.davis@email.com,NaN,NaN,NaN,NaN,NaN,654-321-0987,UK,90210
5,Emily,Wilson,Tech Solutions,NaN,emily.wilson.work@email.com,NaN,NaN,NaN,789-012-3456,NaN,NaN,NaN,US,M6A1A1
6,Daniel,Brown,Global Tech,NaN,NaN,daniel.brown.work@email.com,NaN,NaN,NaN,NaN,345-678-9012,NaN,UK,SW1A2BB
7,Olivia,Martinez,XYZ Solutions,olivia.martinez@email.com,NaN,NaN,987-654-3210,NaN,NaN,NaN,NaN,NaN,UK,3000
8,Ryan,Taylor,Alpha Co,ryan.taylor@email.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,890-123-4567,UK,54321
9,Jessica,Anderson,Data Tech,jessica.anderson@email.com,NaN,NaN,NaN,NaN,NaN,901-234-5678,NaN,NaN,US,M7A1A1
10,Brian,Hall,Tech Solutions,NaN,NaN,brian.hall.work@email.com,234-567-8901,NaN,NaN,NaN,NaN,NaN,UK,SW1A2CC
11,Olivia,King,Innovate Co,NaN,NaN,olivia.king@email.com,NaN,987-654-3210,NaN,NaN,NaN,NaN,US,4000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   First Name       13 non-null     object
 1   Last Name        13 non-null     object
 2   Company          13 non-null     object
 3   Email(default)   5 non-null      object
 4   Email(Personal)  4 non-null      object
 5   Email(Work)      4 non-null      object
 6   Phone(default)   3 non-null      object
 7   Phone(Work)      2 non-null      object
 8   Phone(Home)      2 non-null      object
 9   Phone(Mobile)    2 non-null      object
 10  Phone(Main)      2 non-null      object
 11  Phone(Other)     2 non-null      object
 12  Country          13 non-null     object
 13  Zip Code         13 non-null     object
dtypes: object(14)
memory usage: 1.6+ KB

In [5]:
def extract_primary(df):
    email_columns = ["Email(default)","Email(Personal)","Email(Work)"]
    phone_columns = ["Phone(default)","Phone(Work)","Phone(Home)","Phone(Mobile)","Phone(Main)","Phone(Other)"]
    Email_primary= []
    phone_primary= []
    Cols_to_delete = ["Email(default)","Email(Personal)","Email(Work)", 
                  "Phone(default)","Phone(Work)","Phone(Home)","Phone(Mobile)","Phone(Main)","Phone(Other)"]
    
    for e_cols in df[email_columns]:
        for item in df[e_cols]:
            if pd.notna(item):
                Email_primary.append(item)
                
    for phn_cols in df[phone_columns]:
        for item in df[phn_cols]:
            if pd.notna(item):
                phone_primary.append(item)
    
    df["Email (primary)"] = Email_primary
    df["Phone (primary)"] = phone_primary
    df["Country"] = df["Country"].replace("US","United States")
    df["Country"] = df["Country"].replace("UK","United Kingdom")
    df = df.drop(Cols_to_delete,axis=1)
    df = df[["First Name","Last Name","Company","Email (primary)","Phone (primary)","Country","Zip Code"]]
    
    return df

In [6]:
cleaned_sheet = extract_primary(df)

In [7]:
cleaned_sheet

,First Name,Last Name,Company,Email (primary),Phone (primary),Country,Zip Code
0,John,Smith,ABC Corp,john.smith@email.com,123-456-7890,United States,12345
1,Mary,Johnson,XYZ Ltd,sarah.miller@email.com,987-654-3210,United States,M5A1A1
2,David,Williams,Tech Innov,olivia.martinez@email.com,234-567-8901,United Kingdom,SW1A2AA
3,Sarah,Miller,Global Corp,ryan.taylor@email.com,678-901-2345,United States,2000
4,Michael,Davis,Innovative,jessica.anderson@email.com,987-654-3210,United Kingdom,90210
5,Emily,Wilson,Tech Solutions,mary.johnson@email.com,789-012-3456,United States,M6A1A1
6,Daniel,Brown,Global Tech,david.williams.personal@email.com,345-678-9012,United Kingdom,SW1A2BB
7,Olivia,Martinez,XYZ Solutions,emily.wilson.work@email.com,987-654-3210,United Kingdom,3000
8,Ryan,Taylor,Alpha Co,mark.robinson.personal@email.com,901-234-5678,United Kingdom,54321
9,Jessica,Anderson,Data Tech,michael.davis@email.com,678-901-2345,United States,M7A1A1
10,Brian,Hall,Tech Solutions,daniel.brown.work@email.com,345-678-9012,United Kingdom,SW1A2CC
11,Olivia,King,Innovate Co,brian.hall.work@email.com,654-321-0987,United States,4000
12,Mark,Robinson,Tech Group,olivia.king@email.com,890-123-4567,United Kingdom,67890

In [8]:
cleaned_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   First Name       13 non-null     object
 1   Last Name        13 non-null     object
 2   Company          13 non-null     object
 3   Email (primary)  13 non-null     object
 4   Phone (primary)  13 non-null     object
 5   Country          13 non-null     object
 6   Zip Code         13 non-null     object
dtypes: object(7)
memory usage: 860.0+ bytes